isoCD_filename	Porteus-Kiosk.iso
isoCD_MD5	7085d00bac1dfe1168769ef0d0f211eb
isoCD_URL	https://drive.google.com/open?id=15qo-7TULuuNjeuZrpR_ZMWYQqfjIZVkg
hybrid_filename	Porteus-Kiosk-hybrid.iso
tmp_folder	/tmp/porteus
boot_folder	/boot/isos
target_partition	/dev/sda2

